@import '../css/reset.css';
@import '../css/fonts.css';

:root {
	--color-primary: #c1ff00;
	--color-second: #990dce;
	--color-second-translucent: #9b0dce78;
	--color-third: #ff1f9f;
	--color-fourth: #ffa617;
	--color-text-lite: #e7e7d3;
	--color-white: #ffffff;
	--color-bg: #10171f;
	--color-bg-darker: #0d131a;
}

html,
body {
	font-family: 'Hyper Regular';
	color: var(--color-text-lite);
	font-size: 62.5%;
	touch-action: manipulation;
}

html {
	background-color: var(--color-bg);
	background-image: url('../../assets/img/bg-lines-30degree.png');
	background-repeat: repeat;
}

body {
	font-size: 1.6rem;
	text-align: center;
}
h2,
h3 {
	font-family: 'Hyper Regular';
	font-size: 1rem;
}

main {
	max-width: 420px;
	margin: 20px auto;
}
header {
	margin: 24px 0;
}
footer {
	margin: 48px 0;
}
footer p {
	color: var(--color-second-translucent);
	margin-bottom: 24px;
}

section {
	background-image: url('../../assets/img/accent-end_dots.svg');
	background-position: bottom center;
	background-repeat: no-repeat;
	padding-bottom: 40px;
}

ul.linklist {
	margin: 0;
	padding: 0 16px;
}
ul li {
	margin: 16px 0;
	padding: 0;
}
ul li > a {
	border-radius: 6px;
	border: var(--color-second) 1px solid;
	display: block;
	padding: 14px;
	background-color: var(--color-bg);
	box-shadow: 0 0 8px var(--color-second-translucent);
}
ul li > a:hover {
	background-color: var(--color-bg-darker);
	box-shadow: 0 0 16px 2px var(--color-second-translucent);
}
ul li > a > h2 {
	color: var(--color-primary);
	font-size: 2.4rem;
	margin-bottom: 8px;
}
ul li > a > h3 {
	color: var(--color-primary);
	font-size: 2rem;
}
ul li > a > p {
	color: var(--color-text-lite);
	font-size: 1.6rem;
}
